body{
	background: #E8E4E4;
}

.nav-wrapper,.page-footer{
	background: #E8E4E4;
	height: 100px;
}
.nav-wrapper{
	font-family:oswald ; 
}

.space{
	margin-right: 75px;
	margin-left: 75px;
}

.space2{
	margin-right: 75px;
	margin-left: 75px;
}

.space3{
	margin-right: 75px;
	margin-left: 75px
}

.page3{
	font-size: 40px ;
	font-family: oswald;
}

.kharkiv_top{
	height: 250px;
	width: 1200px;
}

.img1{
     height: 250px;
     width: 1200px;

}

.img2{
     height: 250px;
     width: 1200px;

}

.img3{
	height: 550px ;
	width:650px ;
}

.brand-logo{
	color: black;
	margin-left: 50px;
}

.naw-wrapper{
	font-family: oswald;
}

nav{
	background:#E8E4E4;
}

.facts{
    font-size: 18px;
}
h1{
	font-size: 30px;
}

.people{
	font-size: 25px;
	font-family: oswald;
	margin-top: 150px;
	margin-left: 150px;
}

.kharkiv{
	font-size: 18px;
}

.pg{
	height: 500px;
	width: 800px;
}
.pg4{
	height: 500px;
	width: 800px;
}

.pg2{
	height: 500px;
	width: 800px;
}

.pgtext{
	font-size: 25px;
	font-family: oswald;
}

.pgtext1{
	font-size: 18px ;
}

.pf1{
	height: 500px;
	width: 800px;
}

.pf3{
	height: 500px;
	width: 800px;
}
.pf{
	height: 500px;
	width: 800px;
}

.pftext1{
	font-size: 18px;
}

.pftext{
	font-size: 25px;
	font-family: oswald;
}

.nik1{
	height: 500px;
	width: 800px;
}
.nik4{
	height: 500px;
	width: 800px;
}
.nik3{
	height: 500px;
	width: 800px;
}

.niktext{
	font-size: 25px;
	font-family: oswald;
}

.niktextfull{
	font-size: 18px;
}

.historyname{
	font-size: 40px;
	font-family: oswald;
}

.legend1name{
	font-size: 25px;
	font-family: oswald;
}

.legend1{
	font-size: 18px;
}

.legend2name{
	font-size: 25px;
	font-family: oswald;
}

.legend2{
	font-size: 18px;
}

.legend2photo{
	height: 450px;
	width: 750px
}

.zkpm{
	font-family: oswald;
	font-size: 30px;
}

.facts{
	font-size: 18px;
}

.legend1photo{
	height: 450px;
	width: 750px
}

.legend3name{
	font-size: 25px;
	font-family: oswald;
}

.legend3{
	font-size: 18px;
}

.legend3photo{
	height: 450px;
	width: 750px
}

.video2{
	font-family: oswald;
}



















